stages:
  - lint
  - test

default:
  image: python:3.11
  before_script:
    - pip install -r requirements.txt

pre-commit:
  stage: lint
  script:
    - pip install pre-commit
    - pre-commit run --all-files
    - pylint src tests

test:
  stage: test
  script:
    - pytest tests/
